<!-- 
http://www.bennadel.com/blog/2411-Using-Underscore-js-Templates-To-Render-HTML-Partials.htm
 -->
<a href="#wines/<%= nid %>">
    <% if (image_uri != 'undefined'){ %>
      <img src='<%= image_uri %>'/>
    <% } else { %>
        <% if (type"/pics/default_rood.png"/>  
      <% } else { %>
          <img src="/pics/default_wit.png"/>
      <% }
    } %>
    <p><%= title %> 
      <% if (year != 'undefined'){ %>
        <%= year %>
      <% } %>
    </p>
    <p><%= ptitle %>
      <% if (price != 'undefined'){ %>
         - <%= price %> €
      <% } %>
    </p>
    <span class="chevron"></span>
    <% if (amount != 'undefined'){ %>
      <span class="count"><%= amount %></span>
    <% } %>
</a>
