<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button" href="#">
          <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Wine</h1>
    </div>
</div>

<div class='details'>
    <% if (image_uri) { %>
      <img class='wine-image' src='<%= image_uri %>.jpg'/>
    <% } %>
    <h1><%= title %></h1>
    <h2><%= ptitle %></h2>
    <span class="location"></span>
    <div class="topcoat-list__container scroller">
        <ul class="topcoat-list list actions">
            <% if (producer_nid) { %>
            <li class="topcoat-list__item"><a href="#producers/<%= producer_nid %>"><p>View Producer</p><p><%= ptitle %></p><div class="action-icon icon-manager"/></a></li>
            <% } %>
        </ul>
    </div>
</div>
        